body {
    background: beige;
    font-family: 'Courier New';
    margin: auto;
    justify-content: center;
    padding-bottom: 2%;
}

title {
    font-family: 'Courier New';
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.desc {
    margin-left: 300px;
    margin-right: 300px;
    position: relative;
    text-align: center;
    font-size: 20px;
}

.example {
    justify-content: center;
    margin: auto;
    display: flex;
}

.about {
    font-family: "Courier New";
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;

}

a:after {
    text-decoration: none;

}

.typed-out {
    overflow: hidden;
    border-right: .05em solid black;
    white-space: nowrap;
    font-size: 20px;
    font-family: "Courier New";
    width: 0;
    animation:
            typing 1s steps(35, end) forwards,
            blink .8s infinite;
    animation-delay: 1s;
}

.type-container {
    display: inline-block;
    position: relative;
    margin: auto;
    left: calc(50% - 202.94px);
    padding-top: 25px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from {
        border-color: transparent
    }
    to {
        border-color: black;
    }
}